<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Web Calculator</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a routerLink="/add">Add</a></li>
        <li><a routerLink="/subtract">Subtract</a></li>
        <li><a routerLink="/multiply">Multiply</a></li>
        <li><a routerLink="/divide">Divide</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
      </ul>
    </div>
  </nav>